{% extends 'base.html.twig' %}

{% block title %}Connexion | {{ parent() }}{% endblock %}

{% block body %}


    <form method="post" class="connexion-form">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <div class="p3-form-connexion">
            <div class="mt-2 test">
                <img src="{{ asset('build/images/logo-makesense-dark.png') }}" alt="" class="logo-makesense-model-tel">
            </div>
            <div class="p3-connexion-inscription-title d-flex gap-3  mt-2 col-md-10 col-lg-8 col-xl-6">
                <div class="p3-connexion-title">
                    <a href="{{ path('app_login') }}">
                        <h2 class="p3-active">Sign in</h2>
                    </a>
                </div>
                <div class="p3-inscription-title">
                    <a href="{{ path('app_register') }}">
                        <h2 class="p3-inactive">Register</h2>
                    </a>
                </div>
            </div>
            <div class="p3-form-connexion-email col-md-10 col-lg-8 col-xl-6">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control  input-general-styling"
                       autocomplete="email" required autofocus>
            </div>
            <div class="p3-form-connexion-password col-md-10 col-lg-8 col-xl-6">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control input-general-styling"
                       autocomplete="current-password" required>
            </div>

            <a href="{{ path('app_forgot_password_request') }}"><i>Forgot your password ?</i></a>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            {#            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality. #}
            {#            See https://symfony.com/doc/current/security/remember_me.html #}
            <div class="checkbox mb-3 p3-form-connexion-remember-me">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>

            <button class="btn btn-lg p3-form-connexion-btn register_button submit-button" type="submit">
                Sign in
            </button>
        </div>
    </form>
{% endblock %}
{% block footer %}
    <div class="fixed-bottom col-md-10 col-lg-8 col-xl-6 mx-auto">
        {% include '_header/footer.html.twig' %}
    </div>
{% endblock %}
