{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="header-container">
        {% include '_header/headerConnected.html.twig' %}
    </div>

    <section class="vh-100" style="background-color: #f4f5f7;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center margin-profil-block">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center"
                                 style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                {% if app.user.avatar == null %}
                                    <div class="img-fluid my-5 avatar_profil_edit" id="block_avatar_first">
                                        <i class="fa fa-user fa-4x img-fluid" style="width: 80px; height: 80px"></i>
                                    </div>
                                    <div class="my-5 img-fluid avatar_profil_edit hidden" id="block_avatar_preview">
                                        <img id="file-ip-1-preview"  style="width: 80px"  class="rounded-circle shadow">
                                    </div>
                                {% else %}
                                    <img src="{{ asset('build/images/' ~ user.avatar) }}" class="img-fluid my-5 rounded-circle" style="width: 80px;" alt="avatar" id="block_avatar_first"/>
                                    <div class="my-5 img-fluid avatar_profil_edit hidden" id="block_avatar_preview">
                                        <img id="file-ip-1-preview"  style="width: 80px"  class="rounded-circle shadow">
                                    </div>
                                {% endif %}
                                <h5>{{ user.lastname }}</h5>
                                <p>{{ user.firstname }}</p>

                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <div class="flex_button_delete">


                                    </div>

                                    {{ form_start(form) }}
                                    <div class="row pt-1">
                                        <div class="col-8 mb-3">

                                        </div>
                                        <div class="col-8 mb-3">

                                            <p class="text-muted">
                                            <div>
                                                {{ form_errors(form.firstname) }}
                                                <h6>{{ form_label(form.firstname) }}</h6>
                                                {{ form_widget(form.firstname, { attr : { class : "form-control mb-2"}}) }}
                                            </div>
                                            </p>
                                        </div>
                                        <div class="col-8 mb-3">

                                            <p class="text-muted">
                                            <div>
                                                {{ form_errors(form.lastname) }}
                                                <h6>{{ form_label(form.lastname) }}</h6>
                                                {{ form_widget(form.lastname, { attr : { class : "form-control mb-2"}}) }}
                                            </div>
                                            </p>
                                        </div>
                                        <div class="col-8 mb-3">

                                            <p class="text-muted">
                                            <div>
                                                {{ form_errors(form.nationality) }}
                                                <h6>{{ form_label(form.nationality) }}</h6>
                                                {{ form_widget(form.nationality, { attr : { class : "form-control mb-2"}}) }}
                                            </div>
                                            </p>
                                        </div>
                                        <div class="col-8 mb-3">

                                            <p class="text-muted">
                                            <div>
                                                <h6>{{ form_label(form.avatar) }}</h6>
                                                <div class ="avatar_choice_file">
                                                    {{ form_errors(form.avatar, { attr : { class : "inputfile"}}) }}
                                                    {{ form_widget(form.avatar, { attr : { class : "inputfile", onchange : "showPreview(event)"}}) }}
                                                </div>

                                            </div>
                                            </p>
                                        </div>

                                    </div>
                                    <div class="align-password-button">
                                        <div>
                                            <button class="btn button-valid">{{ button_label|default('Save') }}</button>
                                            {{ form_end(form) }}
                                        </div>
                                        <div  class="btn button-warning">
                                            <a href="{{ path('app_user_show', {'id': user.id}) }}">Back to your profil</a>
                                        </div>
                                    </div>
                                    <div>

                                    </div>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function showPreview(event)
        {

            if (event.target.files.length > 0) {
                document.getElementById('block_avatar_first').classList.add("hidden");
                document.getElementById('block_avatar_preview').classList.remove("hidden");
                var src = URL.createObjectURL(event.target.files[0]);
                var preview = document.getElementById("file-ip-1-preview");
                preview.src = src;
            }
        }
    </script>



{% endblock %}
